:8080 {
	file_server

    route /.well-known/webfinger* {
        redir https://webfinger.io{uri}
    }

    # redirects: google-eng-practices
	route /eng-practices/* {
    	uri strip_prefix /eng-practices
    	redir https://google-engineering-practices.translate.shuuji3.xyz{uri}
    }
}
