:8080 {
    file_server

    # webfinger requires content-type: application jrd+json
	@webfinger path */webfinger
    header @webfinger Content-Type application/jrd+json

    # Configure old URL redirection
    route /eng-practices/* {
        uri strip_prefix /eng-practices
        redir https://google-engineering-practices.translation.shuuji3.xyz{uri} permanent
    }

    route /smart-health-cards-framework/* {
        uri strip_prefix /smart-health-cards-framework
        redir https://smart-health-cards-framework.translation.shuuji3.xyz{uri} permanent
    }
}
