body {
    background-color: #fffafe;
}
a {
    color: #2196f3 !important;
}
a:hover {
    text-decoration: underline;
}
h2::before {
    content: "🌟";
    margin-right: 0.5rem;
}
.emoji {
    width: 2.5rem;
}
.has-margin-right-1 {
    margin-right: 0.5em
}
footer {
    background-color: #e1f5fe !important;
}
