name: Deploy to Cloud Run

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - uses: actions/checkout@v6

      - uses: google-github-actions/auth@v3
        with:
          project_id: shuuji3
          workload_identity_provider: 'projects/1012658349987/locations/global/workloadIdentityPools/identity-pool/providers/github-actions'
          service_account: shuuji3-xyz@shuuji3.iam.gserviceaccount.com

      - id: deploy
        uses: google-github-actions/deploy-cloudrun@v3
        with:
          region: asia-east1
          service: shuuji3-xyz
          source: ./

      - name: 'Use output'
        run: 'curl "${{ steps.deploy.outputs.url }}"'
